<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <title>Hacker News</title>

    </head>
    <div class = "jumbotron">
        <p> Better than Reddit! </p>
    <body ng-controller='newsCtrl'>
        <ul>
            <li ng-repeat="item in programs | orderBy:'vote':true">
                <span ng-show='item.vote != 0'>{{ item.vote }}</span><button ng-click='addValue(item)' class="btn btn-danger btn-xs">Upvote</button> <a ng-click='showStory = true'>{{ item.title.$text }}</a>
                <span ng-show='showStory' ng-click='showStory = false'>{{ item.teaser.$text}}</p></span>

            </li>
        </ul>
    </body>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="controllers/newsCtrl.js"></script>

</html>
